[core]
    pager = delta

[user]
    email = tobiasschmitz2001@gmail.com
    name = Saecki

[pull]
    ff = only

[merge]
	ff = only

[delta]
    features = mine
    side-by-side = true
    line-numbers = true
    line-numbers-left-format = "{nm:>4}│ "
    line-numbers-right-format = "{np:>4}│ "
    syntax-theme = none

[include]
    path = "~/.config/delta/colors/current.gitconfig"
