source ~/.config/nvim/init.vim

nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)
nmap gy <Action>(GotoTypeDeclaration)

nmap <leader>r <Action>(RenameElement)
nmap <leader>a <Action>(ShowIntentionActions)

nmap <c-p> <Action>(SearchEverywhere)

nmap <leader>s <Action>(FindInPath)
