source ~/.config/nvim/init.vim

nmap gd :action GotoDeclaration<cr>
nmap gi :action GotoImplementation<cr>
nmap gr :action FindUsages<cr>
nmap gy :action GotoTypeDeclaration<cr>

nmap <leader>r :action RenameElement<cr>
nmap <leader>a :action ShowIntentionActions<cr>

nmap <c-p> :action SearchEverywhere<cr>

nmap <leader>s :action FindInPath<cr>
